// html boilerplate template that all child templates will inherit.
//sets title dynamically for every view that gets rendered and inherits from this. passed as options object in .render()
// child templates that use this boilerplate must be 'informed' of it by the 'extends <layoutfile> line'

doctype html
html
  head
    title= `${title}`

  body
    h1 Node Chapter 1 Test App!

    block content